
@import services.Streams
@(stream:ArrayList[Streams])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Create Stream</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/addstream" method="post">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="stream_id" placeholder="Stream id">
                            
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="stream_name" placeholder="Stream name">
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="class_id" placeholder="Class id">
                          </div>
                          <div class="row">
                            <div class="col-xs-8">
                              
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Add</button>
                            </div>
                            <!-- /.col -->
                          </div>
                        </form>   


                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Streams</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped ">
                              <thead>
                                <tr>
                                  <td>Stream Id</td>
                                  <td>Stream Name</td>
                                  
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(str <-stream){
                                    <td>@str.getStream_id()</td><td>@str.getStream_name()</td>
                                    <td><a href="/editstream/@str.getStream_id()/@str.getStream_name()/@str.getClass_id()">edit</a></td>
                                    <td><a href="/deletestream/@str.getStream_id()/@str.getStream_name()/@str.getClass_id()">delete</a></td>
                                    </tr>
                                  }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()