
@import services.Clases
@(clas:ArrayList[Clases])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
 
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">Fee per Class</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped ">
                              <thead>
                                <tr>
                                  <td>Class Id</td>
                                  <td>Class Name</td>
                                  <td>Manage</td>
                                  
                                  </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                        @for(cls <-clas){
                                        <td>@cls.getClass_id()</td><td>@cls.getClass_name()</td>
                                    <td>
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-info">manage</button>
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                          <span class="caret"></span>
                                          <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                          <li><a href="/editclass/@cls.getClass_id()/@cls.getClass_name()">edit</a></li>
                                          <li><a href="/deleteclass/@cls.getClass_id()/@cls.getClass_name()">delete</a></li>
                                          <li><a href="fee/@cls.getClass_id()">schoolfees</a></li>
                                         
                                        </ul>
                                      </div>
                                    </td>
                                      
                                      
                                      </tr>
                                    }
                                      </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()