
@import services.Clases
@(clas:ArrayList[Clases],cls:Clases)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Create Class</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/deleteclass/@cls.getClass_id()/@cls.getClass_name()" method="post">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="class_id" value="@cls.getClass_id()">
                            
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="class_name" value="@cls.getClass_name()">
                            
                          </div>
                          <div class="row">
                            <div class="col-xs-8">
                              
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                              <button type="submit" class="btn btn-primary btn-block btn-flat">delete</button>
                            </div>
                            <!-- /.col -->
                          </div>
                        </form>

                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Classes</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Route Id</td>
                                  <td>Route Name</td>
                                  <td>Edit</td>
                                  <td>delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                        @for(clss <-clas){
                                        <td>@clss.getClass_id()</td><td>@clss.getClass_name()</td>
                                        <td><a href="/">edit</a></td>
                                        <td><a href="/">delete</a></td>
                                      </tr>
                                    }
                                      </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()