@import services.Students
@import services.Streams
@(stud:ArrayList[Students],stream:ArrayList[Streams],st:Students)
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="panel panel-headline">
              <div class="row">
                  <div class="col-md-6">
                      <div class="panel">
                          <div class="panel-heading">
                              <h3 class="panel-title">edit Student</h3>
                              <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                              </div>
                        </div>
                        <div class="panel">
                            <form action="/editstudent/@st.getAdmno()/@st.getName()/@st.getGrade()" method="post">
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control"name="name" value="@st.getName()">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                              </div>
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control"name="admno" value="@st.getAdmno()">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                              </div>
                              <div class="dropdown">
                                <select class="form-control select2" name ="grade" style="width: 100%;" value="Role">
                                  <option value="class">class</option>
                                  @for(str <- stream){
                                    <option value="@str.getStream_id()">@str.getStream_id()</option>
                                    }           
                                   </select>
                              </div>
                              
                              <div class="row">
                                <div class="col-xs-8">
                                  <div class="checkbox icheck">
                                    <label>
                                      <input type="checkbox"> I agree to the <a href="#">terms</a>
                                    </label>
                                  </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                  <button type="submit" class="btn btn-primary btn-block btn-flat">Edit</button>
                                </div>
                                <!-- /.col -->
                              </div>
                            </form>
                        
                          </div>
                    </div>
                    </div>
                    <div class="col-md-6"> 
                      <div class="panel">
                          <div class="panel-heading">
                              <h3 class="panel-title">All Students</h3>
                              <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                              </div>
                            </div>
                            <div class="panel">
                                <table class="table table-striped ">
                                    <thead>
                                      <tr>
                                        <td>Adm No</td>
                                        <td>Name</td>
                                        <td>class</td>
                                        <td>pick/Drop</td>
                                        <td>Edit</td>
                                        <td>Delete</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                       @for(std<-stud){
                                         <td>@std.getAdmno()</td><td>@std.getName()</td><td>@std.getGrade()</td>
                                       <td><a href="/">edit</a></td>
                                       <td><a href="/">delete</a></td>
                                        </tr>
                                       }
                                        </tbody>
                                        </table>
                            </div>
                        </div> 
                    </div>
            </div>
        </div>
        </div>
        </div>

@footer()