@import helper._
@import services.Fees
@import services.Feesdetail
@(fee:ArrayList[Feesdetail],fdetail:Feesdetail, fes:Fees)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
   
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <p>Total Fee:@fdetail.getTotalfee()</p>
                </div> 
            </div>
          <div class="row">
            <div class="col-md-6"> 
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create fee itme</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          @flash().get("message")
                          <form action="/fee/@fes.getClas()" method="post"  enctype="multipart/form-data">
                            @CSRF.formField
                            <div class="form-group has-feedback">
                             <input type="text" class="form-control"name="item" placeholder="Item"> 
                            </div>
                            <div class="form-group has-feedback">
                              <!--<input type="number" readonly class="form-control"name="school_id" placeholder="@session().get("schoolid")"> -->
                              <input type="text" class="form-control"name="amount" placeholder="Amount"> 
                            </div>
                            <div class="form-group has-feedback">
                               <input type="text readonly" class="form-control"name="clas" value="@fes.getClas()"> 
                               </div>
                            <div class="row">
                              <div class="col-xs-8">
                                
                              </div>
                              <!-- /.col -->
                              <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Add</button>
                              </div>
                              <!-- /.col -->
                            </div>
                          </form>
  
                        </div>
                  </div>
              </div>
              <div class="col-md-6"> 
                  <div class="panel">
                      <div class="panel-heading">
                          <h3 class="panel-title">Fee structure</h3>
                          <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                          </div>
                        </div>
                        <div class="panel">
                            <table class="table table-striped ">
                                <thead>
                                  <tr>
                                    <td>Item</td>
                                    <td>Amount</td>
                                    
                                    
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                          @for(fee <- fee){
                                          <td>@fee.getItem()</td><td>@fee.getAmount()</td>
                                         
                                        </tr>
                                      }
                                      <td>Total fee= @fdetail.getTotalfee() </td>
                                        </tbody>
                                    </table>
                        </div>
                    </div> 
                </div>
          </div>  
          </div>
          </div>
          </div>

@footer()