@import services.Students
@import services.Streams
@(stud:ArrayList[Students])
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary registerstudent" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Register Student</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
                <a class="btn btn-primary registerstudent" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Manage Student</span></a>
            </div>
            
          <div class="panel panel-headline">
            
              <div class="row">
                  
                    <div class="col-md-12"> 
                      <div class="panel">
                          <div class="panel-heading">
                              <form action="/allschools" method="Post">
                                <div class="input-group">
                                  <input type="text" value="" class="form-control" name ="stream_name"placeholder="Search student...">
                                  <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                                </div>
                              </form>
                             
                            </div>
                            <div class="panel">
                                <table class="table table-bordered ">
                                    <thead>
                                      <tr>   
                                        <td>Adm No</td>
                                        <td>Name</td>
                                        <td>class</td> 
                                        <td>Contacts</td>
                                        <td>Mode of fee</td>
                                        
                                        </td>
                                       
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                       @for(std<-stud){
                                         <td>@std.getAdmno()</td><td>@std.getName()</td><td>@std.getGrade()</td>
                                         <td>@std.getContacts()</td>
                                         <td>
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-info">manage</button>
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                              <span class="caret"></span>
                                              <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                              <li><a href="/">normal</a></li>
                                              <li><a href="/">customize</a></li>
                                              <li><a href=""></a></li>
                                              
                                             
                                            </ul>
                                          </div>
                                        </td>
                                          
                                         
                                        </tr>
                                       }
                                        </tbody>
                                        </table>
                            </div>
                        </div> 
                    </div>
            </div>
        </div>
        </div>
        </div>

@footer()