@()
@header()
@nave()
@schooladmin()
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
					<div class="panel panel-headline">
                            <div class="panel-heading">
                                <h3 class="panel-title">Weekly Overview</h3>
                                <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-user"></i></span>
                                            <p>
                                                <span class="number">52</span>
                                                <span class="title">Total Students</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-user"></i></span>
                                            <p>
                                                <span class="number">23</span>
                                                <span class="title">Picked </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-user"></i></span>
                                            <p>
                                                <span class="number">29</span>
                                                <span class="title">UnPicked </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                            <p>
                                                <span class="number">35%</span>
                                                <span class="title">Conversions</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="headline-chart" class="ct-chart"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="weekly-summary text-right">
                                            <span class="number">15</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 100%</span>
                                            <span class="info-label">Ruaka</span>
                                        </div>
                                        <div class="weekly-summary text-right">
                                            <span class="number">18</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 100%</span>
                                            <span class="info-label">Lower Kabete</span>
                                        </div>
                                        <div class="weekly-summary text-right">
                                            <span class="number">8</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 80%</span>
                                            <span class="info-label">Wangige</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            </div>
    <!-- END MAIN CONTENT -->
    </div>
@footer()