@()

<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
        <li><a href="/registeruser" class=""><i class="lnr lnr-user"></i> <span>Register Users</span></a></li>
        <li><a href="/addclass" class=""><i class="lnr lnr-chart-bars"></i> <span>Add class</span></a></li>
        <li><a href="/allstreams" class=""><i class="lnr lnr-cog"></i> <span>All stream</span></a></li>
        <li><a href="/allstudents" class=""><i class="lnr lnr-alarm"></i> <span>All students</span></a></li>
        <li><a href="/allclass" class=""><i class="lnr lnr-alarm"></i> <span>School Fees</span></a></li>
        
        <li>
          
        </li>
        <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
        <li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
        <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- END LEFT SIDEBAR -->