@import forms.Matrons;
@(matron:ArrayList[Matrons])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="navbar-btn navbar-btn-right">
      <a class="btn btn-primary allmatrons" href="/managevehicles" title="allmatrons"><i class="fa fa-rocket"></i> <span>Manage Matrons</span></a>
    </div>
  <div class="main-content">    
      <div class="container-fluid">
          <div class="panel panel-headline">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Add Matrons</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/addmatron" method="post">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="matrons_id" placeholder="Matron id">
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="matrons_name" placeholder="Matron name">
                  </div>
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">Add</button>
                    </div>
                    <!-- /.col -->
                </div>
                </form>  


                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Matrons</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Matron Id</td>
                                  <td>Matron Name</td>
                                  <td>Vehicle No</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(mat<-matron){
                                <td>@mat.getMatrons_id()</td><td>@mat.getMatrons_name()</td><td>@mat.getVehicle_id()</td>
                                <td><a href="/editmatron/@mat.getMatrons_id()/@mat.getMatrons_name()/@mat.getVehicle_id()">edit</a></td>
                                <td><a href="/deletematron/@mat.getMatrons_id()/@mat.getMatrons_name()/@mat.getVehicle_id()">delete</a></td>  
                                </tr>
                              }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()