@import services.Routes
@import services.Picklocations
@(pick:ArrayList[Picklocations],route:ArrayList[Routes])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Create Drop/Pick Points</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/addpicklocation" method="post">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="locationid" placeholder=" PickDrop Id">
                  </div>
                 
                   <div class="dropdown">
                    <select class="form-control select2" name ="routeid" style="width: 100%;" value="Role">
                        <option value="class">route name</option>
                        @for(rt <- route){
                          <option value="@rt.getRoute_id()">@rt.getRoute_name()</option>
                          }           
                         </select>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="text" class="form-control"name="pickdrop" placeholder=" PickDrop Point">
                    </div>
                    
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
                </form>  


                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Pick/Drop Locations</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped ">
                              <thead>
                                <tr>
                                  <td>pick/Drop id</td>
                                  <td>pick/Drop Name</td>
                                  <td>Route Id</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                          
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()