@import forms.Drivers;
@(driver:ArrayList[Drivers])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary addrivers" href="/addrivers" title="addrivers"><i class="fa fa-rocket"></i> <span>Add Drivers</span></a>
            </div>
        <div class="row">
         
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Drivers</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Driver Id</td>
                                  <td>Driver Name</td>
                                  <td>Vehicle No</td>
                                  <td>edit</td>
                                  <td>delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(dr<-driver){
                                <td>@dr.getDriver_id()</td><td>@dr.getDriver_name()</td><td>@dr.getVehicle_id()</td>
                                  <td><a href="/editdriver/@dr.getDriver_id()/@dr.getDriver_name()/@dr.getVehicle_id()">edit</a></td>
                                  <td><a href="/deletedriver/@dr.getDriver_id()/@dr.getDriver_name()/@dr.getVehicle_id()">delete</a></td>
                                </tr>
                              }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()