@import forms.Matrons;
@(matron:ArrayList[Matrons])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary addmatron" href="/addmatron" title="addmatrons"><i class="fa fa-rocket"></i> <span>Add Matrons</span></a>
            </div>
        <div class="row">
      
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Matrons</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Matron Id</td>
                                  <td>Matron Name</td>
                                  <td>Vehicle No</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(mat<-matron){
                                <td>@mat.getMatrons_id()</td><td>@mat.getMatrons_name()</td><td>@mat.getVehicle_id()</td>
                                <td><a href="/editmatron/@mat.getMatrons_id()/@mat.getMatrons_name()/@mat.getVehicle_id()">edit</a></td>
                                <td><a href="/deletematron/@mat.getMatrons_id()/@mat.getMatrons_name()/@mat.getVehicle_id()">delete</a></td>  
                                </tr>
                              }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()