@import services.Routes
@(rout:ArrayList[Routes])
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Routes</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Route Id</td>
                                  <td>Route Name</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(rt <-rout){
                                    <td>@rt.getRoute_id()</td><td>@rt.getRoute_name()</td>
                                    <td><a href="/editroute/@rt.getRoute_id()/@rt.getRoute_name()">edit</a></td>
                                    <td><a href="/deleteroute/@rt.getRoute_id()/@rt.getRoute_name()">delete</a></td>
                                    </tr>
                                  }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()