
@import services.Streams
@(stream:ArrayList[Streams],strm:Streams)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="navbar-btn navbar-btn-right">
			<a class="btn btn-success Add Stream" href="/addstream" title="Add Stream" ><i class="fa fa-rocket"></i> <span>Add Stream</span></a>
		</div>
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                      <form action="/allschools" method="Post">
                        <div class="input-group">
                          <input type="text" value="" class="form-control" name ="stream_name"placeholder="Search stream...">
                          <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                        </div>
                      </form>
                      </div>
                      <div class="panel">
                          <table class="table table-striped ">
                              <thead>
                                <tr>
                                  <td>Stream Id</td>
                                  <td>Stream Name</td>
                                  <td>View</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(str <-stream){
                                    <td>@str.getStream_id()</td><td>@str.getStream_name()</td>
                                    <td><a href="/@str.getStream_id()/@str.getStream_name()">view</a></td>
                                    
                                    </tr>
                                  }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()