@import forms.Vehicles;
@(vehicle:ArrayList[Vehicles])
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary addvehicles" href="/addvehicles" title="addvehicles"><i class="fa fa-rocket"></i> <span>Add Vehicles</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
                <a class="btn btn-primary managevehicles" href="/managevehicles" title="managevehicles"><i class="fa fa-rocket"></i> <span>Manage Vehicles</span></a>
            </div>
              <div class="navbar-btn navbar-btn-right">
                  <a class="btn btn-primary Add Stream" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Manage Student</span></a>
                </div
          <div class="panel panel-headline">
            
              <div class="row">
                  
                    <div class="col-md-9"> 
                      <div class="panel">
                          <div class="panel-heading">
                              <form action="/allschools" method="Post">
                                <div class="input-group">
                                  <input type="text" value="" class="form-control" name ="vehicle_no"placeholder="Search vehicle...">
                                  <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                                </div>
                              </form>
                             
                            </div>
                            <div class="panel">
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <td>Vehicle Id</td>
                                        <td>Vehicle Name</td>
                                       
                                       
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                        @for(vl<-vehicle){
                                      <td>@vl.getVehicle_id()</td><td>@vl.getName()</td>
                                      
                                      </tr>
                                    }
                                        </tbody>
                                        </table>
                            </div>
                        </div> 
                    </div>
            </div>
        </div>
        </div>
        </div>

@footer()