@import forms.Vehicleroute;
@import services.Routes
@(vec:Vehicleroute,route:ArrayList[Routes])
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary addvehicles" href="/addvehicles" title="registerstudent"><i class="fa fa-rocket"></i> <span>Add Vehicles</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
                <a class="btn btn-primary managevehicles" href="/managevehicles" title="managevehicles"><i class="fa fa-rocket"></i> <span>Manage Vehicles</span></a>
            </div>
              <div class="navbar-btn navbar-btn-right">
                  <a class="btn btn-primary Add Stream" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Manage Student</span></a>
                </div
          <div class="panel panel-headline">
            
              <div class="row">
                  
                    <div class="col-md-9"> 
                      <div class="panel">
                         
                        <form action="/assignroute/@vec.getVehicle_id()/@vec.getName()" method="post">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="vehicle_id" value="@vec.getVehicle_id()">
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="name" value="@vec.getName()">
                          </div>
                          <div class="dropdown">
                            <select class="form-control select2" name ="route_name" style="width: 100%;" value="Role">
                                <option value="class">route name</option>
                                @for(rt <- route){
                                  <option value="@rt.getRoute_name()">@rt.getRoute_name()</option>
                                 
                                  }           
                                 </select>
                            </div>
                          <div class="row">
                            <div class="col-xs-8">
                              <div class="checkbox icheck">
                                <label>
                                  <input type="checkbox"> I agree to the <a href="#">terms</a>
                                </label>
                              </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                              <button type="submit" class="btn btn-primary btn-block btn-flat">assing</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        </form>  
                        </div> 
                    </div>
            </div>
        </div>
        </div>
        </div>

@footer()