@import forms.Drivers;
@(driver:ArrayList[Drivers],dr:Drivers)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Add Drivers</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                       
                        <form action="/deletedriver/@dr.getDriver_id()/@dr.getDriver_name()/@dr.getVehicle_id()" method="post">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="driver_id" value="@dr.getDriver_id()">
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="driver_name" value="@dr.getDriver_name()">
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="vehicle_id" value="@dr.getVehicle_id()">
                   
                  </div>
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">delete</button>
                    </div>
                    <!-- /.col -->
                </div>
                </form>  


                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Drivers</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Driver Id</td>
                                  <td>Driver Name</td>
                                  <td>Vehicle No</td>
                                  <td>edit</td>
                                  <td>delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(dr<-driver){
                                <td>@dr.getDriver_id()</td><td>@dr.getDriver_name()</td><td>@dr.getVehicle_id()</td>
                                  <td><a href="/editdriver/@dr.getDriver_id()/@dr.getDriver_name()/@dr.getVehicle_id()">edit</a></td>
                                  <td><a href="/deletedriver/@dr.getDriver_id()/@dr.getDriver_name()/@dr.getVehicle_id()">delete</a></td>
                                </tr>
                              }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()