@import services.Streams
@(str:Streams)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">edit school</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/deletestream/@str.getStream_id()/@str.getStream_name()/@str.getClass_id()" method="post">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="stream_id" value="@str.getStream_id()">
                            
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="stream_name" value="@str.getStream_name()">
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control"name="class_id" value="@str.getClass_id()">
                          </div>
                          <div class="row">
                            <div class="col-xs-8">
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Cancel</button> 
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                              <button type="submit" class="btn btn-primary btn-block btn-flat">delete</button>
                            </div>
                            <!-- /.col -->
                          </div>
                        </form>

                      </div>
                </div>
            </div>
       
        </div>  
        </div>
        </div>
        </div>

@footer()