@import forms.Vehicles;
@(vehicle:ArrayList[Vehicles],vec:Vehicles)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Add Vehicles</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/editvehicle/@vec.getVehicle_id()/@vec.getName()" method="post">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="vehicle_id" value="@vec.getVehicle_id()">
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="name" value="@vec.getName()">
                  </div>
                 
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">edit</button>
                    </div>
                    <!-- /.col -->
                </div>
                </form>  


                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Vehicles</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Vehicle Id</td>
                                  <td>Vehicle Name</td>
                                  
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(vl<-vehicle){
                                <td>@vl.getVehicle_id()</td><td>@vl.getName()</td>
                                  
                                </tr>
                              }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()