@import services.Routes
@(rout:ArrayList[Routes],rot:Routes)
@header()
@nave()
@schooladmin()
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title">Create Route</h3>
                      <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                      </div>
                    </div>
                    <div class="panel">
                        @flash().get("message")
                        <form action="/editroute/@rot.getRoute_id()/@rot.getRoute_name()" method="post">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="route_name" value="@rot.getRoute_name">
                   
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control"name="route_id" value="@rot.getRoute_id">
                   
                  </div>
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">edit</button>
                    </div>
                    <!-- /.col -->
                </div>
                </form>  


                      </div>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                  	<div class="panel-heading">
                        <h3 class="panel-title">All Routes</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <td>Route Id</td>
                                  <td>Route Name</td>
                                  <td>Edit</td>
                                  <td>Delete</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                  @for(rt <-rout){
                                    <td>@rt.getRoute_id()</td><td>@rt.getRoute_name()</td>
                                    <td><a href="">edit</a></td>
                                    <td><a href="">delete</a></td>
                                    </tr>
                                  }
                                  </tbody>
                                  </table>
                      </div>
                  </div> 
              </div>
        </div>  
        </div>
        </div>
        </div>

@footer()