@import forms.Vehicles
@import forms.Drivers
@import services.Routes
@import forms.Matrons
@(vehicle:ArrayList[Vehicles],rout:ArrayList[Routes],driver:ArrayList[Drivers],matron:ArrayList[Matrons])
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary addvehicles" href="/addvehicles" title="registerstudent"><i class="fa fa-rocket"></i> <span>Add Vehicles</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary allroutes" href="/addroute" title="allroutest"><i class="fa fa-rocket"></i> <span>Add Routes</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary alldrivers" href="/addrivers" title="alldrivers"><i class="fa fa-rocket"></i> <span>Add Drivers</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-primary allmatrons" href="/addmatron" title="allmatrons"><i class="fa fa-rocket"></i> <span>Add Matrons</span></a>
            </div>
          <div class="panel panel-headline">
            
              <div class="row">
                  
                    <div class="col-md-9"> 
                      <div class="panel">
                          <div class="panel-heading">
                              <form action="/allschools" method="Post">
                                <div class="input-group">
                                  <input type="text" value="" class="form-control" name ="vehicle_no"placeholder="Search vehicle...">
                                  <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                                </div>
                              </form>
                             
                            </div>
                            <div class="panel">
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <td>Vehicle Id</td>
                                        <td>Vehicle Name</td>
                                       <td>Assign Route</td>
                                       <td>Assign Driver</td>
                                       <td>Assign Matron</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                        @for(vl<-vehicle){
                                      <td>@vl.getVehicle_id()</td><td>@vl.getName()</td>
                                      <td><a href="/assignroute/@vl.getVehicle_id()/@vl.getName()">assign route</a></td>
                                      <td><a href="/assigndriver/@vl.getVehicle_id()/@vl.getName()">assign driver</a></td>
                                      <td><a href="/assignmatron/@vl.getVehicle_id()/@vl.getName()">assign matron</a></td>
                                      </tr>
                                    }
                                        </tbody>
                                        </table>
                            </div>
                        </div> 
                    </div>
            </div>
        </div>
        </div>
        </div>

@footer()