@import services.Students
@import services.Streams
@(stud:ArrayList[Students])
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="navbar-btn navbar-btn-right">
              <a class="btn btn-success registerstudent" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Register Student</span></a>
            </div>
            <div class="navbar-btn navbar-btn-right">
                <a class="btn btn-success registerstudent" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Manage Student</span></a>
            </div>
              <div class="navbar-btn navbar-btn-right">
                  <a class="btn btn-success Add Stream" href="/registerstudent" title="registerstudent"><i class="fa fa-rocket"></i> <span>Manage Student</span></a>
                </div
          <div class="panel panel-headline">
            
              <div class="row">
                  
                    <div class="col-md-12"> 
                      <div class="panel">
                          <div class="panel-heading">
                              <form action="/allschools" method="Post">
                                <div class="input-group">
                                  <input type="text" value="" class="form-control" name ="stream_name"placeholder="Search student...">
                                  <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                                </div>
                              </form>
                             
                            </div>
                            <div class="panel">
                                <table class="table table-bordered ">
                                    <thead>
                                      <tr>   
                                        <td>Adm No</td>
                                        <td>Name</td>
                                        <td>class</td> 
                                        <td>Contacts</td>
                                        <td>Assign Route</td>
                                        <td>Assign Pickpoint</td>
                                        <td>Assign Droppoint</td>
                                        <td>Assign Bus</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                       @for(std<-stud){
                                         <td>@std.getAdmno()</td><td>@std.getName()</td><td>@std.getGrade()</td>
                                         <td>@std.getContacts()</td>
                                         <td><a href="/studentroute/@std.getName()">assignroute</a></td>
                                         <td><a href="/studentpickpoint/@std.getName()">assignpick</a></td>
                                         <td><a href="">assigndrop</a></td>
                                         <td><a href="">assignbus</a></td>
                                        </tr>
                                       }
                                        </tbody>
                                        </table>
                            </div>
                        </div> 
                    </div>
            </div>
        </div>
        </div>
        </div>

@footer()