@import forms.Schools
@(school:Schools)
@header()
<div id="wrapper">
    <!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="brand">
    <a href="index.html"><img src="assets/img/logo-dark.png" alt="@school.getSchool_name()" class="img-responsive logo"></a>
</div>
<div class="container-fluid">
    <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
    </div>
    <form class="navbar-form navbar-left">
        <div class="input-group">
            <input type="text" value="" class="form-control" placeholder="Search dashboard...">
            <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
        </div>
    </form>
    <div class="navbar-btn navbar-btn-right">
        <a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
    </div>
    <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                    <i class="lnr lnr-alarm"></i>
                    <span class="badge bg-danger">5</span>
                </a>
                <ul class="dropdown-menu notifications">
                    <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                    <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                    <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                    <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                    <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                    <li><a href="#" class="more">See all notifications</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Basic Use</a></li>
                    <li><a href="#">Working With Data</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Troubleshooting</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar">@session().get("logeduser") <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                    <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                    <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                    <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>
</nav>

@schooladmin()
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
					<div class="panel panel-headline">
                            <div class="panel-heading">
                                <p>>>>>>>>@school.getSchool_name()<<<<<<<<<</p>
                                <h3 class="panel-title">Weekly Overview</h3>
                                <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-download"></i></span>
                                            <p>
                                                <span class="number">1,252</span>
                                                <span class="title">Downloads</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                                            <p>
                                                <span class="number">203</span>
                                                <span class="title">Sales</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-eye"></i></span>
                                            <p>
                                                <span class="number">274,678</span>
                                                <span class="title">Visits</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="metric">
                                            <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                            <p>
                                                <span class="number">35%</span>
                                                <span class="title">Conversions</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="headline-chart" class="ct-chart"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="weekly-summary text-right">
                                            <span class="number">2,315</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>
                                            <span class="info-label">Total Sales</span>
                                        </div>
                                        <div class="weekly-summary text-right">
                                            <span class="number">$5,758</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>
                                            <span class="info-label">Monthly Income</span>
                                        </div>
                                        <div class="weekly-summary text-right">
                                            <span class="number">$65,938</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>
                                            <span class="info-label">Total Income</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            </div>
    <!-- END MAIN CONTENT -->
    </div>
@footer()