@import forms.Studentdetails
@import services.Students
@import services.Routes
@(st:Students,route:ArrayList[Routes])
@header()
@nave()
@schooladmin()
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
      <div class="container-fluid">
          <div class="panel panel-headline">
              <div class="row">
                  <div class="col-md-6">
                      <div class="panel">
                          <div class="panel-heading">
                              <h3 class="panel-title">edit Student</h3>
                              <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                              </div>
                        </div>
                        <div class="panel">
                            <form action="/studentroute/@st.getAdmno()" method="post">
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control"name="admno" value="@st.getAdmno()">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                              </div>
                              <div class="dropdown">
                                <select class="form-control select2" name ="route" style="width: 100%;" value="Role">
                                  <option value="class">route name</option>
                                  @for(rt <- route){
                                    <option value="@rt.getRoute_name()">@rt.getRoute_name()</option>
                                    }           
                                   </select>
                              </div>
                              
                              <div class="row">
                                <div class="col-xs-8">
                                  <div class="checkbox icheck">
                                    <label>
                                      <input type="checkbox"> I agree to the <a href="#">terms</a>
                                    </label>
                                  </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                  <button type="submit" class="btn btn-primary btn-block btn-flat">update</button>
                                </div>
                                <!-- /.col -->
                              </div>
                            </form>
                        
                          </div>
                    </div>
                    </div>
                   
            </div>
        </div>
        </div>
        </div>

@footer()